@model GozdeOzerBitirmeProjesi_.Entities.Blog
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Token"] == null)
{
    Response.RedirectToRoute(new { controller = "Login", action = "Index" });
}
<h2>Detay</h2>
<div>
    <h4>Tarif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Kategori</dt>
        <dd>@Html.DisplayFor(x => x.Category.Name)</dd>

        <dt>Başlık</dt>
        <dd>@Html.DisplayFor(x => x.Caption)</dd>

        <dt>İçerik</dt>
        <dd>@Html.DisplayFor(x => x.Detail)</dd>

        <dt>Tarih</dt>
        <dd>@Html.DisplayFor(x => x.Createdate)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Bloglara Geri Dön", "Index")
</p>

